<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bootstrap-scribble.css" />
        <style>
         footer {
           margin-top: 600px;
         }
        </style>
    </head>
    <body data-spy="scroll" data-target=".col-sidebar" data-offset="70">
        <header class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="#">Sample</a></li>
                </ul>
            </div>
        </header>
